body {
    background-color: #ffffff;
    color: black;
    text-align: center;
    font-size: 24px;
}

/* Remove default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */
header {
    position: fixed;

    top: 20px;
    left: 50%;

    transform: translateX(-50%);

    width: 90%;

    z-index: 1000;
}


nav {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px 35px;

    border-radius: 50px;

    background-color: rgba(255,255,255,0.45);

    backdrop-filter: blur(10px);

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


.logo {

    font-size: 2rem;

    font-weight: 800;

    color: #0072B2;

    cursor: default;
}

.nav-links {

    display: flex;

    list-style: none;

    gap: 35px;
}


.nav-links a {

    text-decoration: none;

    color: #222;

    font-weight: 600;

    position: relative;

    transition: color 0.3s;
}

.nav-links a::after {

    content: "";

    position: absolute;

    left: 0;
    bottom: -5px;

    width: 0;
    height: 3px;

    background-color: #E69F00;

    transition: width 0.3s;
}


.nav-links a:hover {

    color: #E69F00;
}


.nav-links a:hover::after {

    width: 100%;
}
/* Hero section */
#hero {
    height: 70vh;

    display: flex;
    align-items: center;

    padding-left: 10%;

    /* Background image */
    background-image: 
        linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.85) 0%,
            rgba(255, 255, 255, 0.70) 35%,
            rgba(255, 255, 255, 0.25) 65%,
            rgba(255, 255, 255, 0.05) 100%
        ),
        url("../images/background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Container with text */
.hero-content {
    max-width: 600px;
}


/* Name */
.hero-content h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 15px;
}


/* Job title */
.hero-content h2 {
    color: #0072B2;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 25px;
}


/* Description */
.hero-content p {
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 800px;
    margin-bottom: 40px;
}


/* Buttons container */
.buttons {
    max-width: 800px;
    display: flex;
    gap: 20px;
    align-content: center;
}


/* Buttons */
.button {
    display: inline-block;

    background-color: #E69F00;
    color: white;

    text-decoration: none;

    padding: 15px 32px;
    border-radius: 30px;

    font-weight: bold;

    transition: 
        transform 0.2s,
        box-shadow 0.2s;
}


/* Hover effect */
.button:hover {
    background-color: #005580;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
}

section:not(#hero) {

    min-height: 100vh;

    padding: 100px 10%;
}


#projects {
    background-color: #FAFAFA;
}


.section-title {
    text-align: center;
    font-size: 3rem;
    color: #0072B2;
    margin-bottom: 50px;
}

/*carousel styles */
.carousel-window {
    overflow: hidden;
    width: 1920px;
}

.carousel-container {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.project-carousel {
    display: flex;
    gap: 30px;
}


.project-card {

    width: 420px;
    flex-shrink: 0;

    background-color: white;

    border-radius: 20px;

    overflow: hidden;

    box-shadow:
        0 10px 25px rgba(0,0,0,0.12);

    transition:
        transform 0.3s,
        box-shadow 0.3s;
}

.project-card:hover {

    transform: translateY(-10px);

    box-shadow:
        0 20px 35px rgba(0,0,0,0.18);
}

.project-card img {

    width: 100%;

    height: 180px;

    object-fit: cover;
}

/* Card content */

.card-content {

    padding: 25px;
}


.card-content h3 {

    color: #0072B2;

    margin-bottom: 15px;

    font-size: 1.4rem;
}


.card-content p {

    line-height: 1.5;

    margin-bottom: 20px;

    color: #555;
}


.card-content span {

    color: #E69F00;

    font-weight: bold;
}

/* The arrows */
.arrow {

    width: 50px;
    height: 50px;

    border: none;

    border-radius: 50%;

    background-color: white;

    color: #0072B2;

    font-size: 1.6rem;

    cursor: pointer;

    box-shadow:
        0 5px 15px rgba(0,0,0,0.15);

    transition:
        transform 0.2s,
        background-color 0.2s;
}


.arrow:hover {

    background-color: #0072B2;

    color: white;

    transform: scale(1.1);
}

.arrow.disabled {
    opacity: 0.3;
    cursor: default;
    transform: none;
}